@import '../../../../styles/animations';
@import '../../../../styles/colors';
@import '../../../../styles/shapes';

.neck {
  @include animated;
  @include bounce-in;
  @include bottom-radius;
  background: $light-beige;
  width: 25px;
  height: 30px;
  margin-top: -10px;
}