@import '../../styles/animations';
@import '../../styles/colors';

.game-over {
  @include animated;
  @include bounce-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $transparent-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}