@import '../../../../../styles/animations';
@import '../../../../../styles/colors';
@import '../../../../../styles/shapes';

%arm {
  @include animated;
  @include bounce-in;
  position: absolute;
  top: 0;
  width: 20px;
  height: 70px;
}

%shape {
  @include bottom-radius;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-arm {
  @extend %arm;
  left: 76px;
}

.right-arm {
  @extend %arm;
  right: 76px;
}

.left-arm-shape {
  @extend %shape;
  background: $light-green;
  transform: rotate(40deg);
}

.right-arm-shape {
  @extend %shape;
  background: $dark-green;
  transform: rotate(-40deg);
}