@import '../../../../styles/animations';
@import '../../../../styles/colors';
@import '../../../../styles/shapes';

%corpus-part {
  position: relative;
  width: 50%;
  height: 65px;
  z-index: 2;
}

.corpus {
  @include animated;
  @include bounce-in;
  position: relative;
  width: 100%;
  height: 85px;
  margin-top: -10px;
  padding: 0 60px;
  display: flex;
  flex-flow: row wrap;
}

.corpus-left {
  @extend %corpus-part;
  background: $light-green;
  border-top-left-radius: 5px;
}

.corpus-right {
  @extend %corpus-part;
  background: $dark-green;
  border-top-right-radius: 5px;
}

.corpus-bottom {
  @extend %corpus-part;
  @include bottom-radius;
  width: 100%;
  height: 20px;
  background: $light-blue;
}