.game__game-over-screen__title {
  position: relative;
  font-family: 'Aller Display';
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  user-select: none;
}