$light-green: rgba(138, 198, 87, 1);
$dark-green: rgba(78, 160, 106, 1);
$light-blue: rgba(60, 90, 146, 1);
$light-beige: rgba(254, 206, 138, 1);
$flat-blue: rgba(83, 85, 93, 1);
$bright-blue: rgba(77, 105, 250, 1);
$transparent-gray: rgba(230, 230, 231, 1);
$transparent-blue: rgba(107, 112, 137, 0.8);
$bright-orange: rgba(255, 186, 0, 1);