%full-size {
  width: 100%;
  height: 100%;
}

:global {
  html, body {
    @extend %full-size;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #docroot {
    @extend %full-size;
    position: relative;
  }

  @font-face {
    font-family: 'Aller Display';
    src: url('../fonts/AllerDisplay.ttf');
  }
}