@import '../../../../../styles/animations';
@import '../../../../../styles/colors';

%hand {
  @include animated;
  @include bounce-in;
  position: absolute;
  width: 14px;
  height: 14px;
  background: $light-beige;
  border-radius: 50%;
}

.left-hand {
  @extend %hand;
  left: 56px;
}

.right-hand {
  @extend %hand;
  right: 56px;
}