.game__hanged-man__folk__hands__hand--left,
.game__hanged-man__folk__hands__hand--right {
  position: absolute;
  width: 14px;
  height: 14px;
  background: rgba(254, 206, 138, 1);
  border-radius: 50%;
}

.game__hanged-man__folk__hands__hand--left {
  left: 56px;
}

.game__hanged-man__folk__hands__hand--right {
  right: 56px;
}