@import '../../../styles/animations';
@import '../../../styles/colors';
@import '../../../styles/fonts';

%letter-bar {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inactive-bar {
  @extend %letter-bar;
  background: $transparent-gray;
}

.active-bar {
  @extend %letter-bar;
  @include animated;
  @include bounce-in;
  background: $flat-blue;
}

.text {
  @include animated;
  @include bounce-in;
  @include letter-font;
  color: rgb(255, 255, 255);
}