.game__missed-letters__title {
  position: relative;
  font-family: 'Aller Display';
  font-weight: 200;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(83, 85, 93, 1);
}