.game__game-over-screen__new-word {
  position: relative;
  font-family: 'Aller Display';
  font-weight: 200;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 10px 25px;
  background: transparent;
  letter-spacing: 1px;
  color: rgba(255, 186, 0, 1);
  border: 2px dashed rgba(255, 186, 0, 1);
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}