@import '../../styles/colors';

.triangle {
	position: absolute;
	width: 270px;
	height: 270px;
	right: 0;
	bottom: 0;
	border-bottom-right-radius: 5px;
	overflow: hidden;
};

.shape {
	position: absolute;
	right: 0;
	bottom: 0;
  width: 0;
	height: 0;
	border-bottom: 270px solid $bright-blue;
	border-left: 270px solid transparent;
}